<div class="container">
  <div class="container-fluid">
    <div class="userinfo">
      <figure class="figure">
        <img
          src="/assets/icons8-user-64.png"
          class="figure-img img-fluid rounded"
          alt="..."
          style="width: 45px; height: 45px;"
        />
        <figcaption
          class="figure-caption badge badge-success"
          style="margin-left: 25px;"
        >
          {{ userInfo.firstName }}
        </figcaption>
      </figure>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      style="margin-top: 20px;"
      *ngIf="onlineUsers"
      (click)="toggleShow()"
    >
      Online Users
      <span class="badge badge-light">{{ onlineUsers.length }}</span>
    </button>
    <div class="userlist" [hidden]="!showOnlineUsers">
      <ul class="list-group">
        <li
          (click)="userSelectedToChat(user.userId, user.name)"
          *ngFor="let user of onlineUsers"
        >
          <div
            class="usersDiv"
            [ngClass]="{ activeChat: user.chatting == true }"
          >
            <app-user-details
              [userName]="user.name"
              [userStatus]="'online'"
              [messageRead]="user.unread"
            ></app-user-details>
          </div>
        </li>
      </ul>
    </div>
    <div class="chatWindow" #scrollMe [hidden]="!loadChatWindow">
      <app-window-first-char
        [name]="recieverName"
        [userColor]="'white'"
        [userbg]="'green'"
        (notify)="emitRecieversName($event)"
      ></app-window-first-char>
      <div class="chatWindowHeader">{{ recieverName }}</div>
      <ul *ngIf="recieverName">
        <li class="prevChat">
          <span (click)="loadPreviousChat()">Load Previous Chat</span>
          <br />
          <span *ngIf="loadingPreviousChat">Loading...</span>
        </li>
        <li class="messageChain" *ngFor="let message of messageList">
          <div
            class="message-date"
            [ngClass]="{
              right: message.senderId === userInfo.userId,
              left: message.senderId !== userInfo.userId
            }"
          >
            <span>{{ message.createdOn | date: "short" }}</span
            >&nbsp; &nbsp;
            <span
              class="reciever-icon"
              *ngIf="message.senderId !== userInfo.userId"
            >
              <i class="fa fa-circle online"></i>{{ message.senderName }}
            </span>
            <span
              class="sender-icon"
              *ngIf="message.senderId === userInfo.userId"
            >
              <i class="fa fa-circle online"></i>{{ message.senderName }}
            </span>
          </div>
          <div
            class="message"
            [ngClass]="{
              'right users-message': message.senderId === userInfo.userId,
              'left sender-message': message.senderId !== userInfo.userId
            }"
          >
            {{ message.message }}
          </div>
        </li>
      </ul>
      <div class="chatFooter bg-transparent">
        <textarea
          class="bg-transparent"
          autofocus
          name="message"
          placeholder="enter message"
          (keypress)="sendChatMessage($event)"
          [(ngModel)]="messageText"
          rows="3"
        ></textarea>
      </div>
    </div>
  </div>
</div>
