<div class="container">
  <div class="container-fluid">
    <div class="userinfo">
      <figure class="figure">
        <img
          src="/assets/icons8-user-64.png"
          class="figure-img img-fluid rounded"
          alt="..."
          style="width: 45px; height: 45px;"
        />
        <figcaption
          class="figure-caption badge badge-success"
          style="margin-left: 25px;"
        >
          {{ userInfo.firstName }}
        </figcaption>
      </figure>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      style="margin-top: 20px;"
      *ngIf="onlineUsers"
      (click)="toggleShow()"
    >
      Online Users
      <span class="badge badge-light">{{ onlineUsers.length }}</span>
    </button>
    <div class="userlist" [hidden]="!showOnlineUsers">
      <ul class="list-group" *ngFor="let user of onlineUsers">
        <li>
          <Button class="btn btn-dark bg-transparent">{{ user.name }}</Button>
        </li>
      </ul>
    </div>
  </div>
</div>
