<div class="container">
  <div class="container-fluid">
    <div class="signupform">
      <img
        src="/assets/icons8-add-user-male-128.png"
        width="49px"
        height="49px"
        alt="?"
      />
      <form>
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input
            class="form-control form-control-sm"
            type="text"
            name="First Name"
          />
        </div>
        <div class="form-group">
          <label for="firstname">Last Name</label>
          <input
            class="form-control form-control-sm"
            type="text"
            name="lastname"
          />
        </div>
        <div class="form-group">
          <label for="firstname">Email</label>
          <input
            class="form-control form-control-sm"
            type="text"
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="firstname">Mobile</label>
          <input
            class="form-control form-control-sm"
            type="text"
            name="mobile"
          />
        </div>
        <div class="form-group">
          <label for="firstname">Password</label>
          <input
            class="form-control form-control-sm"
            type="password"
            name="password"
          />
        </div>
        <div class="form-group">
          <label for="firstname">API Key</label>
          <input
            class="form-control form-control-sm"
            type="text"
            name="apikey"
          />
        </div>
        <button class="btn btn-primary">SignUp</button>
        <button
          class="btn btn-danger"
          style="margin-left: 30px; float: inline-end;"
        >
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
