<div class="container">
  <div class="container-fluid">
    <div class="signupform">
      <img
        src="/assets/icons8-add-user-male-128.png"
        width="49px"
        height="49px"
        alt="?"
      />
      <form #signUpForm="ngForm" (ngSubmit)="signUpUser()">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input
            class="form-control form-control-sm"
            type="text"
            [(ngModel)]="firstname"
            name="First Name"
            required
            #_first="ngModel"
          />
        </div>
        <div
          [hidden]="_first.valid || _first.pristine"
          class="alert alert-danger"
        >
          First Name is Required
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input
            class="form-control form-control-sm"
            [(ngModel)]="lastname"
            type="text"
            name="lastname"
            required
            #_last="ngModel"
          />
        </div>
        <div
          [hidden]="_last.valid || _last.pristine"
          class="alert alert-danger"
        >
          Last Name is Required
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control form-control-sm"
            [(ngModel)]="email"
            type="text"
            name="email"
            required
            #_email="ngModel"
          />
        </div>
        <div
          [hidden]="_email.valid || _email.pristine"
          class="alert alert-danger"
        >
          Email is Required
        </div>
        <div class="form-group">
          <label for="mobile">Mobile</label>
          <input
            class="form-control form-control-sm"
            [(ngModel)]="mobile"
            type="text"
            name="mobile"
            required
            #_mobile="ngModel"
          />
        </div>
        <div
          [hidden]="_mobile.valid || _mobile.pristine"
          class="alert alert-danger"
        >
          Mobile is Required
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            class="form-control form-control-sm"
            [(ngModel)]="password"
            type="password"
            name="password"
            required
            #_pwd="ngModel"
          />
        </div>
        <div [hidden]="_pwd.valid || _pwd.pristine" class="alert alert-danger">
          Password is Required
        </div>
        <div class="form-group">
          <label for="apiKey">API Key</label>
          <input
            class="form-control form-control-sm"
            [(ngModel)]="apiKey"
            type="text"
            name="apiKey"
            required
            #_key="ngModel"
          />
        </div>
        <div [hidden]="_key.valid || _key.pristine" class="alert alert-danger">
          API Key Is Required
        </div>
        <button class="btn btn-primary" [disabled]="!signUpForm.form.valid">
          SignUp
        </button>
        <button
          class="btn btn-danger"
          style="margin-left: 30px; float: inline-end;"
        >
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
